<%= render 'navbar'%>
<h1> Show Student </h1>
<!-- <table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Department</th>
  </tr>
  	<tr>
    	<td><%= @student.name %></td>
    	<td><%= @student.gender %></td>
    	<td><%= @student.address %></td>
    	<td><%= @student.department.try :name %></td>
    	<td>
    	</td>  
  	</tr>
</table> -->




<%= flash[:notice]%>
<h3>Student Name:<%= @student.name%></h3>
<h3>Gender:<%= @student.gender%></h3>
<h3>Address:<%= @student.address %></h3>
 <h3>Department at:<%= @student.department.try :name %></h3>
 	<%= link_to "Return to All Student List", root_path%>
