<%= form_for(@department) do |d|%>
<p>
    <%= d.label :name %><br/>
    <%= d.text_field :name, autofocus: true %>
  </p>
  <!-- <p>
    <%= d.label :department_id %><br/> 
    <%= select("student", "department_id", Department.all.map{|department| [department.name, department.id]}) %>
  </p> -->
  <%= d.submit %>
  <%=link_to"Cancel", root_path%>
  <% end %>